/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.products-wrapper{
  padding: 0 30px;
}
.products{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  margin-top: 40px;
}
.products__title{
  font-size: 22px;
  text-transform: uppercase;
}
.products hr {
  width: 850px;
  margin-top: 8px;
  color: #eee;
  background-color: #eee;
}
.slider-img{
  padding: 0 10px;
  margin-bottom: 20px;
}
.product__link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #eee;
  text-decoration: none;
  color: #222;
}
.product__img-box{
  margin: 50px 0 50px 40px;
  border-bottom: 1px solid #eee;
}
.product__title{
  padding: 20px 0 15px 20px;
  font-size: 15px;
}
.product__link hr{
  width: 40px;
  margin: 20px 20px 15px;
  color: #fdaf18;
  background-color: #fdaf18;
  border-color: #fdaf18;
}
.product__link span {
  text-decoration: line-through;
  font-size: 14px;
}
.product__price{
  padding-left: 20px;
  font-size: 18px;
}
.product__link button img{
  margin: 0;
  padding: 0;
  border-bottom: none;
  padding-left: 140px;
}
.product__link button {
  padding: 20px;
  float: right;
  border: none;
  background-color: #fff;
}
.button{
  padding: 3px 5px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  border: 1px solid #eee;
}
.products__btn-prev{
  margin-right: 5px;
}