.site-navigation{
  background-color: lightblue;
}
.site-nav{
  display: flex;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-left: none;
  border-right: none;
  background-color: #fcfcfc;
}
.site-nav__list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1430px;
  padding: 15px 0;
  list-style-type: none;
  margin: 0;
  padding: 16px 30px;
}
.site-nav__item{
  margin-left: 30px;
}
.site-nav__link{
  font-weight: bold;
  font-size: 14px;
  color: #222;
  text-decoration: none;
}

@media screen and (max-width: 1415px){
  .site-nav__list{
    padding-right: 30px;
  }
}
@media screen and (max-width: 560px){
  .site-nav__list{
    justify-content: flex-start;
    /* flex-wrap: wrap; */
  }
  .site-nav__item{
    margin-left: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 512px){
  .site-nav__list{
    flex-direction: column;
    padding: 0;
    border: none;
  }
  .site-nav__item{
    padding: 15px 0;
  }
}